.search-header{
    
    width: auto;
    height: 23px;
    display: block;
    font-family: Lexend Exa;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
  
color: #228B22;
justify-content: center;

text-align: center;

}

.search-input{
    border-radius: 10px;
    background: #DBD9D9;
    width: 40%;
  height: 50px;
    font-size: 20px;

}

.search-submit-btn{
    width: 102px;
height: 45px;
font-size: 20px;
background: #228B22;
border-radius: 10px;

}