.header {
    width: auto;
    height: 23px;
    display: block;
    font-family: Lexend Exa;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
  
color: #228B22;
justify-content: center;

text-align: center;
}

.btn btn-lg{
    position: absolute;
    right:10;
  
}
