body {
  background-color: #FFF6EA;
  color: #228B22;
  padding: 30px;
  font-family: Arial;
  text-align: center;
  padding-right: 10%;
 
}


  p{
    text-align: left;
    font-size: 20px;
    font-family: 'Lexend Exa', sans-serif;
    padding-left: 10%;
   
    
    
    
  }